.wrapper {
  background-image: linear-gradient(to bottom right, #9068ff, #2054ff);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  header {
    margin: 40px 0;

    img {
      max-width: 120px;
    }
  }
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  width: 50%;
}



 .panel {
   transition: max-height 0.5s cubic-bezier(.525,.66,.495,1.4);
   border-bottom: lightgray 1px solid;
   padding: 20px 0;

   &:last-child {
     border-bottom: none;
   }

   .panel-heading{
     flex-direction: row;
     display: flex;
     width: 25%;
     justify-content: space-between;
     margin-bottom: 20px;
     align-items: center;

     img {
       height: 80px;
       width: 80px;
       border-radius: 50px;
       overflow: hidden;
     }
   }

   .panel-collapse {
     max-height: 0;
     overflow: hidden;
     transition: max-height 1s cubic-bezier(.525,.66,.495,1.4);
   }
   &.is-expanded {
     .panel-collapse {
       max-height: 200px
     }
   }
 }
